In [1]:
import mysql.connector

In [ ]:
print("ini file ipynb")

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="belajar_python"
)

# Lakukan operasi SQL
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM data_dummy")

# Ambil hasil data
myresult = mycursor.fetchall()

In [3]:
for row in myresult:
    print(row)

(1, 'candra burhanudin', 's1', 23, 'bogor')
(2, 'badu', 's1', 24, 'jakarta')